html{
font-size: 8px;

}
:root{

    --continaer-border:0.25rem solid #008cd2ff;
    --container-cols:repeat(4,1fr);     /*4+2 extra*/ 
    --container-rows:repeat(4,1fr);
    --container-width:50vw;
    --container-height:50vh;
    --container-gap:1.5rem;
    --container-padding:2rem;
    --logs-top_offset:10%;
    --logs-left_offset:0;
}

.component{
    /* justify-content: center; */
    transition: all 200ms ease;
    display: flex;
    flex-direction: column;
    transform-origin: center center; 
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    will-change: transform;
}

.log_container{

    border:0.25rem solid red;
    display:grid;
    grid-template-columns: 1fr;
    grid-auto-rows:1fr;
    height: max-content;
    width: max-content;
    position:absolute;
    top: calc(var(--container-height) + var(--logs-top_offset));
    left: 0;
    padding: 0.75rem;



}


.component >*:first-child{

    font-size: 4rem;
    width: 6rem;
    height: 6rem;
 }
.component>*{
    flex-grow:0;
}

.cont{
    box-sizing: content-box;
    background-color: #F5F5DC;
    width: var(--container-width);
    height: var(--container-height);
    border:var(--continaer-border);
    display: grid;
    grid-template-columns: var(--container-cols);
    grid-template-rows: var(--container-rows);
    grid-gap: var(--container-gap);
    justify-content: center;
    align-content: center;
    justify-self: center;
    padding: var(--container-padding);
    transition: var(--container-gap) 200ms ease;
}

.cont>div {
    
box-sizing: border-box;    
justify-content: center;
/* align-content: center; */
text-align: center;
padding: 2rem;

}

.case{
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    background-color:#c3e15aff ;
    

}

.ssd{
    
    grid-column: 2 / 3 ;
    grid-row: 1 / 2;
    background-color:#7dd7c3ff ;
}

.ram{

    grid-column: 3 /5;
    grid-row: 1 / 2;
    background-color:lightsalmon;

}
.motherboard{
    
    grid-column: 2 / 4;
    grid-row:2 / 4 ;
background-color:#8237aa ; 


}
.cpu{
    
    grid-column: 2 /3;
    grid-row: 4 /5;
    background-color: lightseagreen;

}

.gpu{

    grid-column:3 / 5;
    grid-row: 4 /5 ;
    background-color: darkslategrey;

}

.psu{
    
    grid-column:4 /5 ;
    grid-row: 2 / 4;
    background-color: darkolivegreen;

}

.backdrop{
position: fixed;
inset: 0;
background: rgba(0, 0, 0, 0.6);
/* align-items: center; */
/* align-content: center; */
display: grid;
grid-template-columns: 1fr;
grid-auto-rows: 1fr;
place-content: center;
place-items: center;
}

.dialog{
/* flex-grow: 1; */
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background: cyan;
padding: 2rem;
border-radius: 1rem;
max-width: 90vw;
max-height:90vh;
/* overflow-y: scroll; */
gap:2rem;
}

.hidden{

display: none;

}

.grid{
position: relative;
width: 60rem;
height: 60rem;
background-color:rgb(160 105 140 / 100%);
display: grid;
grid-template-columns: 1fr;
grid-auto-rows: 1fr;
/* place-content: center; */
place-items: center;
overflow-y: scroll;

}

.grid>*{
    cursor: pointer;
}

#close_dialog{
    background-color: red;
    color: white;
    padding: 1rem;
    width: max-content;
    height: max-content;
    font-size: bold;
    content: "X";
    position:absolute;
    top: 0;
    right: 0;



}

/* lets say i dunno number of rows in advance and  i want to set rows equal size in grid class for our items in dialog what would be  minmax(1fr,auto) ? */

.component:hover{

transform: scale(1.5);
background-color: skyblue;
padding: 2rem;

}

#search{
    width: 60rem;
    padding: 2rem;
    box-sizing: border-box;
}

.not_okay{

    border: 0.5rem solid red;
    transform: scale(1.25);

}

.okay{

    border: 0.5rem solid green;


}

.part{
    
    /* border:0.25rem solid grey; */
    font-size: 1.5rem;
    padding: .75rem;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-content: last baseline;
    align-items: center;
    box-sizing: border-box;
/*     box-sizing: content-box; */
/* } */
}

.logo{

    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    object-fit: contain;
    margin-right: 0.5rem;


}

.selected_part{

    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    font-size: 1.5rem;



}

.part>h1{
    
font-size: 1em;
    
}



